<html>
  <head><title>Overlay</title></head>
  <body>
            <div id='clips'/>
        <script src="assets/js/StackBlur.js"></script>  
        <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script>
  $(document).ready(function() {
    let bounds = {{menu | to_json}};
    let image_url = "{{url}}";
    for (const item of bounds) 
    {
      let start = [item.xs[0], item.ys[0]];
      let sWidth = item.xs[1] - item.xs[0];
      let sHeight = item.ys[1] - item.ys[0];
      let img = new Image();
      img.crossOrigin = "Anonymous";
      img.onload = function() {
        let canvas = document.createElement("canvas");
        var ctx = canvas.getContext('2d');
        ctx.canvas.width = 1000;
        ctx.canvas.height = 1000;
        stackBlurImage(img, canvas, 5, false);
        ctx.rect( start[0], start[1], sWidth, sHeight);
	      ctx.strokeStyle = "#FF0000";
	      ctx.stroke();
        ctx.clip();
        ctx.drawImage(img, 0,  0);
        let element = document.getElementById("clips");
        element.appendChild(canvas);
      }
      img.src = image_url;
    }
  })

  </script>
  <body>
</html>
